<footer class="footer" id="contact">
  <div class="container">
    <center>
      <div id="social">
        <br><br>
        <a href="https://in.linkedin.com/in/manu-a-c-b4581068" target="_blank">
          <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
        </a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://github.com/ManuAc" target="_blank">
          <i class="fa fa-github fa-2x" aria-hidden="true"></i>
        </a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://www.facebook.com/manikanta.manu.39" target="_blank">
          <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
        </a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://www.instagram.com/_acmanu" target="_blank">
          <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
        </a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://twitter.com/ManuAC93" target="_blank">
          <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
        </a>
        <br>
        <a href="mailto:manuac93@gmail.com" target="_blank">
          <span class="footer-contact">email me</span>
        </a>&nbsp;&nbsp;
        <a href="ManuAc.pdf" target="_blank">
          <span class="footer-contact">resume</span>
        </a>
        <br><br>
        <span id="footer-copyright">&copy <span style="color:#c0392b;">manu a c</span> - all rights reserved</span>
        <br>
        <span class="footer-contact" id="scrolltop"> back to the top </span>
      </div>
    </center>
  </div>
</footer>